*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings


# Keystore files
*.jks
*.keystore

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
app/build/
*/build/

# Proguard configuration files
proguard-rules.pro

# Miscellaneous
*.apk
*.ap_
*.dex
*.class

# Android NDK
ndkBuild/

